@import '~bootstrap/scss/bootstrap';

body {
  // background-color: #F4EADE;
  background: url('./img/space.jpg');
}

.card-container {
  // border: 5px solid green;
  display: flex;
  // flex-flow: wrap;
  flex-direction: row;
  flex-wrap: wrap;
  // justify-content: space-around;
  align-items: flex-start;
}

.card-background {
  border: 5px solid #000;
  margin: 0.5rem 0;
  width: 22rem;
  min-height: 260px;
  max-height: 260px;
}

.card-body {
  min-height: 5rem;
}

.exocards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 2rem 2rem;
}

.nav-header {
  background-color: #bbb5f1;
}

.name-img {
  // border: 5px solid brown;
  margin: 2rem auto;
  padding-bottom: 2rem;
  color: #fff;
}

.show-container {
  // border: 5px solid indigo;
  padding: 2rem auto;
}

.table {
  // border: 5px solid #f0f;
  width: 33%;
}

.table-container {
  // border: 5px solid yellow;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;
}

.text-center {
  text-align: center;
}

.exo-backdrop {
  background-color: #rgba(17, 82, 104, 1);
  // border: 5px solid red;
  margin-left: 2rem;
  margin-right: 2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 3rem;
}

.dh1-test {
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 5px solid #a9a9a9;
  color: #fff;
}

.exocard-container {
  // border: 5px solid yellow;
  display: flex;
  flex-flow: row wrap;
}

.pagination {
  display: flex;
  justify-content: center;
}

.page-item {
  align-items: center;
  justify-content: center;
}

// .pg1-test {
//   // border: 5px solid green;
// }
